@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 id="addBookHeader">Add books</h2>
    @using (Ajax.BeginForm(null, null, new AjaxOptions
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("AddBook"),
        OnFailure = "onError",
        OnSuccess = "clearAddForm"
    }, new { @class = "form-inline", id = "addForm" }))
    {
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="Title" id="title">
        </div>
        <div class="form-group">
            <label for="authorName">Author's name</label>
            <input type="text" class="form-control" name="AuthorName" id="authorName">
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" name="Date" id="date">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="3" name="Description" id="description"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Add new book</button>

    }
    <hr/>
    <h2 id="searhBookHeader">Search books</h2>
    @using (Ajax.BeginForm(null, null, new AjaxOptions
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("GetBooks"),
        LoadingElementId = "loadingIndicator",
        OnSuccess = "clearSearchForm"
    }, new { id = "searchForm" }))
    {
        <input name="title" placeholder="Title" />
        <input name="authorName" placeholder="Author's name" />
        <input type="submit" value="Search" class="btn btn-success" />
    }
    <hr />
    <h2 id="listBookHeader">Books</h2>
    <div id="tabledata">
        <img id="loadingIndicator" style="display:none;" src="@Url.Content("~/Content/datas_loading.gif")" />
        @Html.Action("GetBooks")
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function onError(ex) {
            alert('An error occurred on the server');
        }
        function clearAddForm() {
            document.getElementById('addForm').reset();
        }
        function clearSearchForm() {
            document.getElementById('searchForm').reset();
        }
    </script>
}